.user-info {
    float: right;
    margin-top: 0px;
}
.img {
    height: 50px;
}
h2 {
    font-family: 'Fredoka One', cursive;
    margin-top: 20px;
    color: #4B8C8C;
    font-size: 2em;
}
nav {
    margin-top: 60px;
}
